<div class="flex gap-3 sr-only focus-within:not-sr-only !p-4">
  <a href="#MainContent" class="btn btn-solid btn-primary btn-md">Skip to content</a>
  <a href="#Footer" class="btn btn-solid btn-primary btn-md">Skip to footer</a>
</div>
