<!doctype html>
<html>
  <head>
    {{ content_for_header }}
    {% render 'vite-tag' with 'tailwind.css' %}
    <script
      src="{{ 'react.js' | asset_url | split: '?' | first }}"
      type="module"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="{{ 'react-dom.js' | asset_url | split: '?' | first }}"
      type="module"
      crossorigin="anonymous"
      defer
    ></script>
  </head>
  <body>
    {% render 'skip-to-main' %}
    <main id="main-content">
      <h1 class="text-primary-50 text-7xl">Get Rid Of DadBod</h1>
      {{ content_for_layout }}
    </main>
  </body>
</html>
