<!doctype html>
<html>
  <head>
    {{ content_for_header }}
    {% render 'vite-tag' with 'tailwind.css' %}
    {% render 'vite-tag' with 'react.js' %}
    {% render 'vite-tag' with 'react-dom.js' %}
  </head>
  <body>
    {% render 'skip-to-main' %}
    <main id="main-content">
      <h1 class="text-primary-50 text-7xl">Get Rid Of DadBod</h1>
      {{ content_for_layout }}
    </main>
  </body>
</html>
