<!doctype html>
<html>
  <head>
    {{ content_for_header }}
    {% render 'vite-tag' with 'tailwind.css' %}
    <script src="https://unpkg.com/react@18/umd/react.production.min.js" defer></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" defer></script>
    <script defer>
      window.React = window.React || React;
      window.ReactDOM = window.ReactDOM || ReactDOM;
    </script>
  </head>
  <body>
    {% render 'skip-to-main' %}
    <main id="main-content">
      <h1 class="text-primary-50 text-7xl">Get Rid Of DadBod</h1>
      {{ content_for_layout }}
    </main>
  </body>
</html>
