<!doctype html>
<html>
  <head>
    {{ content_for_header }}
  </head>
  <body>
    {% render 'skip-to-main' %}
    <main id="main-content">
      <h1 class="text-red-500 text-7xl">Get Rid Of DadBod</h1>
      {{ content_for_layout }}
    </main>
  </body>
</html>
